article .field.field-name-field-category {
    margin-top: 0;
    margin-bottom: 10px;
}

.field.field-name-field-category .field-item {
    display: inline-block;
}

.field.field-name-field-category .field-item a {
    color: rgba(51,101,153,0.7);
    font-size: 1em;
    font-style: italic;
    /*font-family: Arial;*/
}

article.node {
    border-top: 1px solid #bbb;
}